.sidebar {
    width: 70px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: width 300ms;

    &-brand {
        height: 90px;
        padding: 1rem 0rem 1rem 2rem;
        color: #fff;

        & h2 {
            display: flex;
        }

        & span {
            display: inline;
            padding-right: 1rem;
            margin-left: 0.6rem;
        }
    }

    
    &-menu {
        margin-top: 1rem;

        & li {
            width: 100%;
            margin-bottom: 1.7rem;
            padding-left: 1rem;
            display: flex;
            flex-direction: row;
            & a {
                padding-left: 1rem;
                color: #fff;
                font-size: 1.1rem;
                display: flex;
                align-items: center;

                & span:first-child {
                    font-size: 1.5rem;
                    padding: 0.2rem 1rem;
                }
            }
        }

        & a.link-active {
            padding-top: 1rem;
            padding-bottom: 1rem;
            background: #fff;
            color: var(--main-color);
            border-radius: 30px 0 0 30px;
        }
    }
    
    & .sidebar-brand,
    & .sidebar-menu ul li {
        padding-left: 1rem;
        text-align: center;
    }

    & .sidebar-menu ul li a {
        padding-left: 0rem;
    }
    
    & .sidebar-brand h2 span:last-child,
    & .sidebar-menu ul li a span:last-child {
        display: none;
    }
    &:hover {
        width: 345px;
        z-index: 200;
        transition: width 300ms;

        & .sidebar-brand,
        & li {
            padding-left: 2rem;
            text-align: left;

            & a {
                padding-left: 1rem;
            }
        }

        & .sidebar-brand h2 span:last-child,
        & .sidebar-menu li a span:last-child {
            display: inline;
            min-width: 10rem;
            text-align: left;
        }
    }

    &-brand,
    & li {
        padding-left: 1rem;
        text-align: center;
    }

    & li a {
        padding-left: 0rem;
    }


    &-brand h2 span:last-child,
    &-menu li a span:last-child {
        display: none;
    }


    &-brand,
    & li {
        padding-left: 1rem;
        text-align: center;
    }

    & li a {
        padding-left: 0rem;
    }
}
