.sidebar.sidebar_active {
    width: 345px;

    & .sidebar-brand,
    & .sidebar-menu ul li {
        padding-left: 1rem;
        text-align: center;
    }

    & .sidebar-menu ul li a {
        padding-left: 0rem;
    }

    &~.main-content {
        margin-left: 345px;
        transition: margin-left 300ms;
    }

    &~.main-content header {
        width: calc(100% - 345px);
        left: 345px;
    }

    & .sidebar-brand h2 span:last-child,
    & .sidebar-menu ul li a span:last-child {
        display: inline-block;
        min-width: 10rem;
        text-align: left;
       
    }
}
