.status {
    &.purple {
        background: #8e1fc2;
    }

    &.pink {
        background: #db83d0;
    }

    &.orange {
        background: #ff8a05;
    }

    &.green {
        background: green;
    }
}
