
:root {
    --main-color: #11bef3;
    --color-dark: #1D2231;
    --text-gray: #8390A2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

@import 'adminStyle/mainContent';
@import 'adminStyle/sidebar';
@import 'adminStyle/sidebarActive';
@import 'adminStyle/statusForTable';
@import 'adminStyle/orderTable';
@import 'adminStyle/editProduct';
@import 'adminStyle/card';
@import 'adminStyle/brand';
@import 'adminStyle/feedback';
@import 'adminStyle/pagination';
@import 'adminStyle/sort';
//Медиа запросы
@import 'adminStyle/mediaAdmin';

.table-responsive {
    width: 100%;
    overflow-x: auto;
}
