@import '../_vars';

.breadcrumps {
    margin-top: 2rem;
    margin-bottom: 3rem;
    background: url('../img/1@0,5x.png') right top no-repeat;
    background-size: 75%;
    height: 12rem;

    &__list {
        display: flex;
        justify-content: flex-start;
        padding: 2.5rem 0 !important;
        align-items: center;
    }

    &__element {
        margin-right: 2.5rem;
        font-size: 2rem;

        &::before {
            content: '\\';
            margin-right: 1rem;
        }

        &:first-child {
            &::before {
                content: '';
            }
        }
    }

    &__link {
        text-decoration: none;
        font-weight: 900;
        font-size: 4.5rem;
        color: $mainFontColor;
    }
}

@media only screen and (max-width:960px) { 
    .breadcrumps {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .breadcrumps {
        display: none;
        margin: 1rem 0;
    }
}

@media only screen and (max-width:568px) {
    .breadcrumps {
        height: 8rem;

        &__element {
            margin-right: 1.5rem;
            font-size: 1.5rem;
            font-weight: 600;
        }

        &__link {
            font-size: 2.5rem;
        }
    }
}
