.button {
    padding: 1.8rem 0;
    outline: 1px solid $mainFontColor;
    position: relative;
    text-decoration: none;
    color: $mainFontColor;
    display: block;
    text-align: center;
    align-items: center;
    width: 22.5rem;
    max-height: 5.7rem;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    border: none;

    &::before {
        content: url('../img/arrow-down.svg');
        display: block;
        width: 4rem;
        height: 4.5rem;
        background-color: white;
        position: absolute;
        bottom: -1rem;
        left: 1rem;
        z-index: 3;
        text-align: center;
        transition: all .2s linear;
    }

    &::after {
        content: '';
        display: block;
        width: inherit;
        height: 6rem;
        background-color: white;
        position: absolute;
        bottom: -1rem;
        left: 1rem;
        z-index: -1;
        text-align: center;
        transition: all .2s linear;
    }

    &:hover::before {
        background-color: $greyBg;
    }

    &:hover::after {
        background-color: $greyBg;
    }

    &.active {
        &::before {
            content: url('../img/arrow-down.svg');
            bottom: -1rem;
            left: 16rem;
            transition: all .6s ease-in;
        }

        &::after {
            content: '';
            bottom: -1rem;
            left: 1rem;      
        }
    }
}
