.common-cat {
    padding-bottom: 5rem;

    &__inner {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__title {
        width: 60%;
        display: block;
        width: 100%;
        font-weight: 900;
        font-size: 6rem;
        color: $mainFontColor;
        position: relative;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 25% auto auto;
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
    }

    &__item {
        display: flex;
        text-decoration: none;

        &:hover {
            outline: 1px solid #EDEDED;

            >.common-cat__name {
                text-decoration: underline;
            }
        }
    }

    &__name {
        margin: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $mainFontColor;
    }

    &__img {
        width: 100%;
    }
}

@media only screen and (max-width:768px) {
    .common-cat {
        &__title {
            font-size: 4rem;
            color: $mainFontColor;

            &::after {
                display: none;
            }
        }
    }

    @media only screen and (max-width:568px) {
        .common-cat {
            &__title {
                display: block;
                width: 100%;
                font-weight: 900;
                font-size: 2.5rem;
                color: $mainFontColor;
            }

            &__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
