.details {
    margin-bottom: 5rem;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__text {
        margin-bottom: 5rem;
        line-height: 3.9rem;
        text-align: justify;
    }

    &__consist {
        margin-bottom: 3rem;
    }
}


@media only screen and (max-width: 1200px) {
    .details {
        &__header {
            & .topic {
                display: none;
            }

            & .title {
                font-size: 1.8rem;
            }
        }
    }
}

@media only screen and (max-width:960px) {}

@media only screen and (max-width:768px) {}

@media only screen and (max-width:568px) {
    .details {
        &__header {
            margin-bottom: 0;
        }

        &__consist {
            .topic {
                display: block;

                &__name:before {
                    display: none;
                }
                &__name:after {
                    display: none;
                }
            }
        }
    }
}
