.header {
    padding: 2rem !important;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__menu {
        display: flex;
        margin-top: 1rem;
        align-items: center;
    }

    &__logo {
        margin-left: 1rem;
    }

    #burger-btn {
        display: none;
    }

    &__form {
        display: flex;
        margin-bottom: 1rem;

        &-input {
            width: 70%;
            border-radius: 5px 0 0 5px;
            border-right: none;


            &::placeholder {
                font-style: italic;
            }
        }

        &-icon {
            border-radius: 0 5px 5px 0;
            color: rgb(160, 159, 159);
        }


        &-input,
        &-icon {
            padding: 1rem 1.5rem;
            margin: 0;
            border: 1px solid #ccc;
            outline: none;
        }
    }



    &__cart {
        display: flex;
        text-align: center;

        &-link {
            padding: 1rem;
            text-decoration: none;
            color: inherit;
            margin-bottom: 0.5rem;
            font-size: 2rem;
            margin-left: 1rem;
            font-size: inherit;
            margin-right: 1rem;
            font-size: 2.5rem;

            & span {
                display: none;
            }
        }
    }

    &__search {
        margin-left: 2rem;
        position: relative;

        & ul {
            padding: 0.5rem 1rem;

            & li {

                & a {
                    padding: 1rem;
                    text-decoration: none;
                    color: #111;
                    margin-bottom: 1rem !important;
                    border-bottom: 1px solid #ccc;
                    display: block;

                }
            }
        }
    }


    &__block {

        &-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem;
            margin-left: 1rem;
            font-size: 2rem;

            & i {
                font-size: 2.5rem;
                margin-right: 1rem;
            }

            & span,
            & i {
                margin-bottom: 1rem;
            }
        }
    }

    &__nav {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width:960px) {}


@media only screen and (max-width:768px) {

    .header {
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 999;
        background: #fff;

        #burger-btn {
            display: block;
            position: relative;
            width: 4.5rem;
            height: 4.5rem;
            padding: 1rem;
            background: none;
            outline: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 2.5rem;
            color: rgb(173, 172, 172);
        }

        &__menu {
            display: none;

            &.open {
                display: flex;
                flex-direction: column;
                position: fixed;
                height: calc(100vh - 120px);
                width: 100%;
                margin-left: 1rem;
                top: 11rem;
                right: 0rem;
                left: 0;
                bottom: 0;
                overflow-y: auto;              
                z-index: 1000;
                padding: 1rem;
                background-color: #fff;
            }
        }

        &__search {
            width: 90%;
            margin-bottom: 2rem;
        }

        &__form {
            &-input {
                width: 90%;
            }
        }



        &__block {         
            &-left, &-right {
                width: 90%;
                padding: 0.5rem;
                
                & i {
                    width: 3rem;
                    font-size: 2.5rem;
                    margin-right: 1rem;
                }

                & span {
                    display: inline-block;
                    font-size: 2.3rem;
                }

            }

            &-left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

            &-right {
                display: block;
                margin-left:1.5rem;
                margin-right: 0;   
            }
        }

        &__cart {
            flex-direction: column;

            &-link {
                display: flex;
                margin-left: 0;

               & span {
                   display: inline-block;
               }
            }
        }


        .quantity__box {
            top: -0.2rem;
            right: 0;
            left: 2.2rem;
        }
        &__nav {
            width: 90%;
            display: block;
            padding: 0.5rem;

            &-list {
                display: flex;
                flex-direction: column;
            }

            & ul li {
                font-size: 2.3rem;
            }


            &-item {
                & a {
                    & i {
                        width: 3rem;
                        font-size: 2.5rem;
                        margin-right: 1rem;  
                    }
                }
            }

            &-details {
                padding: 1rem;

                & span {
                    margin-left: 1.5rem;
                };
               
            }

            &-subnav  {
                width: 100%;
                display: block;
                    padding: 4rem;
                    & li {
                        margin-left: 3rem;
                        
                        & a {
                            color: #111;
                            display: block;
                            text-decoration: none;
                            padding: 1rem 1rem;
                            transition: text-shadow .2s linear, background-color .2s linear;
                        }
                    }
                
            } 

            &__cart {
                &-link {
                    display: flex;
                   
                    & i {
                        width: 3rem;
                        font-size: 2.5rem;
                        margin-right: 1rem;
                    }
    
                    & span {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
