.product {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    &__left {
        width: 40%;
        margin-right: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        max-width: 46.3rem;
        border: 1px solid #DADADA;
        max-height: 46.3rem;
    }

    &__code {
        color: $grey;
        margin-bottom: 3rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__descript {
        margin-bottom: 2rem;
    }

    &__question {
        text-transform: capitalize;
        font-weight: bold;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        .button::before {
            content: url('../img/cart.svg');
            height: 2.5rem;
            bottom: -1rem;
        }

        & .price {
            font-size: 3.5rem;
            margin-right: 10rem;
        }
    }
}


@media only screen and (max-width: 1200px) {
    .product {
        &__left {
            width: 40%;
        }

        &__right {
            width: 55%;
        }

        &__image {
            width: 100%;
        }
    }
}

@media only screen and (max-width:960px) {
    .product {
        &__left {
            width: 35%;
        }

        &__right {
            width: 60%;
        }

        &__image {
            width: 100%;
        }
    }
}

@media only screen and (max-width:768px) {
    .product {
        &__wrapper {
            flex-direction: column;
        }

        &__left {
            width: 100%;
            margin-bottom: 2rem;
        }

        &__right {
            width: 100%;
        }
         &__bottom {
            display: flex;
            flex-direction: column;

            & .price {
                margin-bottom: 1.5rem;
            }
        }
    }
}


