.scrollup{
    width:5rem;
    height:5rem;
    opacity:0.3;
    position:fixed;
    bottom:5rem;
    right:5rem;
    border:  0.2rem solid #111;
    outline: none;
    border-radius: 50%;
    display:none;

    &:hover {
        cursor: pointer;
    }

    & i {
        font-size: 3rem;
        color: black;

        &:hover {
            cursor: pointer;
        }
    }
}

@media only screen and (max-width:568px) {
    .scrollup i {
        transform: translateX(-.5rem);
    }
}
