.slider {
    position: relative;
    padding: 0 10rem;
    margin-bottom: 10rem;

    .details__header {
        margin-bottom: 10rem;
    }
    
    &__item {
        margin: 2rem;
    }
}
@media only screen and (max-width:568px) {
    .slider {
        padding: 0 4.5rem;
    }
}