.topcat {
    margin-top: 3rem;
    margin-bottom: 5rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }

    &__suptitle {
        margin-bottom: 2rem;
        text-transform: uppercase;
        display: block;
        width: 100%;
        font-weight: 900;
        font-size: 4.5rem;
        color: $mainFontColor;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 600;
    }

    &__box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
    }

    &__left {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &__category {
        height: 80%;

        & img {
            height: inherit;
            margin: 0 auto;
        }
    }

    &__item {
        height: 100%;

        &:nth-child(2) {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    &__catname {
        display: inline-block;
        margin: 3rem 0 0 3rem;
        text-transform: uppercase;
        font-size: 2.4rem;
        font-weight: bold;
    }

    &__link {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:960px) {
    .topcat {
        &__box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 5rem;
            grid-row-gap: 5rem;
        }

        &__left {
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }
}

@media only screen and (max-width:768px) {
    .topcat {
        &__box {
            display: grid;
            grid-template-columns: auto;
            grid-column-gap: 1rem;
            grid-row-gap: 2rem;
        }

        &__item {
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (max-width:568px) {
    .topcat {
        .topic__name {
            font-size: 1.5rem;
        }

        &__suptitle {
            display: none;
        }

        &__subtitle {
            font-size: 1.5rem;
            font-weight: 700;
        }


        &__box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
        }

        &__left {
            width: 100%;
            margin-bottom: 6rem;
        }

        &__item {
            height: 100%;
            width: fit-content;
            grid-column-start: auto;
            grid-column-end: auto;
            grid-row-start: auto;
            grid-row-end: auto;
        }

        &__link {
            margin-top: 2rem;
        }

        &__cat-img {
            height: auto;
        }
    }
}
